<div class="row content">
  <div class="col-sm-6">
    <h4> Elections </h4>
  </div>

  <div class="col-sm-6">
    <%= form_tag root_path, method: :get, remote: true, class: "" do %>
      <div class="form-group">
        <div class="col-sm-8" style="display: inline-block;">
          <%= text_field_tag 'search', nil, class: 'form-control form-control-lg', placeholder: "Search elections by name and category" %>
        </div>
        <div class="col-sm-3" style="display: inline-block;">
          <%= submit_tag "search", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= select_tag :sort, options_for_select(Election::SORT_OPTIONS), class: "form-control form-control-lg elections-sort", onchange: 'Rails.fire(this.form, "submit")' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="row content">
  <div class="col-sm-12" id="electionsTable">
    <%= render 'elections' %>
  </div>
</div>
